In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
import sklearn.preprocessing as preprocessing

In [3]:
data = pd.read_csv('train.csv')

In [4]:
data.info() ##

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [5]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
age_df = data[['Age','Fare', 'Parch', 'SibSp', 'Pclass']]
known_age = age_df[age_df.Age.notnull()].values
unknown_age = age_df[age_df.Age.isnull()].values
# y --age
y = known_age[:, 0]
# X --feature
X = known_age[:, 1:]
# fit to RandomForestRegressor
rfr = RandomForestRegressor(random_state=0, n_estimators=2000, n_jobs=-1)
rfr.fit(X, y)

predictedAges = rfr.predict(unknown_age[:, 1::])
data.loc[(data.Age.isnull()), 'Age'] = predictedAges

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [ ]:
type(data)

In [8]:
dummies_Pclass = pd.get_dummies(data['Pclass'], prefix='Pclass')
dummies_Embarked = pd.get_dummies(data['Embarked'], prefix='Embarked')
dummies_Sex = pd.get_dummies(data['Sex'], prefix='Sex')
data = pd.concat([data, dummies_Pclass,dummies_Embarked, dummies_Sex], axis=1)
data.drop(['Pclass','Sex', 'Embarked'], axis=1, inplace=True)

In [9]:
data

,PassengerId,Survived,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male
0,1,0,"Braund, Mr. Owen Harris",22.000000,1,0,A/5 21171,7.2500,NaN,0,0,1,0,0,1,0,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.000000,1,0,PC 17599,71.2833,C85,1,0,0,1,0,0,1,0
2,3,1,"Heikkinen, Miss. Laina",26.000000,0,0,STON/O2. 3101282,7.9250,NaN,0,0,1,0,0,1,1,0
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.000000,1,0,113803,53.1000,C123,1,0,0,0,0,1,1,0
4,5,0,"Allen, Mr. William Henry",35.000000,0,0,373450,8.0500,NaN,0,0,1,0,0,1,0,1
5,6,0,"Moran, Mr. James",23.838953,0,0,330877,8.4583,NaN,0,0,1,0,1,0,0,1
6,7,0,"McCarthy, Mr. Timothy J",54.000000,0,0,17463,51.8625,E46,1,0,0,0,0,1,0,1
7,8,0,"Palsson, Master. Gosta Leonard",2.000000,3,1,349909,21.0750,NaN,0,0,1,0,0,1,0,1
8,9,1,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",27.000000,0,2,347742,11.1333,NaN,0,0,1,0,0,1,1,0
9,10,1,"Nasser, Mrs. Nicholas (Adele Achem)",14.000000,1,0,237736,30.0708,NaN,0,1,0,1,0,0,1,0
10,11,1,"Sandstrom, Miss. Marguerite Rut",4.000000,1,1,PP 9549,16.7000,G6,0,0,1,0,0,1,1,0
11,12,1,"Bonnell, Miss. Elizabeth",58.000000,0,0,113783,26.5500,C103,1,0,0,0,0,1,1,0
12,13,0,"Saundercock, Mr. William Henry",20.000000,0,0,A/5. 2151,8.0500,NaN,0,0,1,0,0,1,0,1
13,14,0,"Andersson, Mr. Anders Johan",39.000000,1,5,347082,31.2750,NaN,0,0,1,0,0,1,0,1
14,15,0,"Vestrom, Miss. Hulda Amanda Adolfina",14.000000,0,0,350406,7.8542,NaN,0,0,1,0,0,1,1,0
15,16,1,"Hewlett, Mrs. (Mary D Kingcome)",55.000000,0,0,248706,16.0000,NaN,0,1,0,0,0,1,1,0
16,17,0,"Rice, Master. Eugene",2.000000,4,1,382652,29.1250,NaN,0,0,1,0,1,0,0,1
17,18,1,"Williams, Mr. Charles Eugene",32.066493,0,0,244373,13.0000,NaN,0,1,0,0,0,1,0,1
18,19,0,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",31.000000,1,0,345763,18.0000,NaN,0,0,1,0,0,1,1,0
19,20,1,"Masselmani, Mrs. Fatima",29.518205,0,0,2649,7.2250,NaN,0,0,1,1,0,0,1,0
20,21,0,"Fynney, Mr. Joseph J",35.000000,0,0,239865,26.0000,NaN,0,1,0,0,0,1,0,1
21,22,1,"Beesley, Mr. Lawrence",34.000000,0,0,248698,13.0000,D56,0,1,0,0,0,1,0,1
22,23,1,"McGowan, Miss. Anna ""Annie""",15.000000,0,0,330923,8.0292,NaN,0,0,1,0,1,0,1,0
23,24,1,"Sloper, Mr. William Thompson",28.000000,0,0,113788,35.5000,A6,1,0,0,0,0,1,0,1
24,25,0,"Palsson, Miss. Torborg Danira",8.000000,3,1,349909,21.0750,NaN,0,0,1,0,0,1,1,0
25,26,1,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",38.000000,1,5,347077,31.3875,NaN,0,0,1,0,0,1,1,0
26,27,0,"Emir, Mr. Farred Chehab",29.518205,0,0,2631,7.2250,NaN,0,0,1,1,0,0,0,1
27,28,0,"Fortune, Mr. Charles Alexander",19.000000,3,2,19950,263.0000,C23 C25 C27,1,0,0,0,0,1,0,1
28,29,1,"O'Dwyer, Miss. Ellen ""Nellie""",22.380113,0,0,330959,7.8792,NaN,0,0,1,0,1,0,1,0
29,30,0,"Todoroff, Mr. Lalio",27.947206,0,0,349216,7.8958,NaN,0,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,"Giles, Mr. Frederick Edward",21.000000,1,0,28134,11.5000,NaN,0,1,0,0,0,1,0,1
862,863,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",48.000000,0,0,17466,25.9292,D17,1,0,0,0,0,1,1,0
863,864,0,"Sage, Miss. Dorothy Edith ""Dolly""",10.869867,8,2,CA. 2343,69.5500,NaN,0,0,1,0,0,1,1,0
864,865,0,"Gill, Mr. John William",24.000000,0,0,233866,13.0000,NaN,0,1,0,0,0,1,0,1
865,866,1,"Bystrom, Mrs. (Karolina)",42.000000,0,0,236852,13.0000,NaN,0,1,0,0,0,1,1,0
866,867,1,"Duran y More, Miss. Asuncion",27.000000,1,0,SC/PARIS 2149,13.8583,NaN,0,1,0,1,0,0,1,0
867,868,0,"Roebling, Mr. Washington Augustus II",31.000000,0,0,PC 17590,50.4958,A24,1,0,0,0,0,1,0,1
868,869,0,"van Melkebeke, Mr. Philemon",25.977889,0,0,345777,9.5000,NaN,0,0,1,0,0,1,0,1
869,870,1,"Johnson, Master. Harold Theodor",4.000000,1,1,347742,11.1333,NaN,0,0,1,0,0,1,0,1
870,871,0,"Balkic, Mr. Cerin",26.000000,0,0,349248,7.8958,NaN,0,0,1,0,0,1,0,1
871,872,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",47.000000,1,1,11751,52.5542,D35,1,0,0,0,0,1,1,0
872,873,0,"Carlsson, Mr. Frans Olof",33.000000,0,0,695,5.0000,B51 B53 B55,1,0,0,0,0,1,0,1
873,874,0,"Vander Cruyssen, Mr. Victor",47.000000,0,0,345765,9.0000,NaN,0,0,1,0,0,1,0,1
874,875,1,"Abelson, Mrs. Samuel (Hannah Wizosky)",28.000000,1,0,P/PP 3381,24.0000,NaN,0,1,0,1,0,0,1,0
875,876,1,"Najib, Miss. Adele Kiamie ""Jane""",15.000000,0,0,2667,7.2250,NaN,0,0,1,1,0,0,1,0
876,877,0,"Gustafsson, Mr. Alfred Ossian",20.000000,0,0,7534,9.8458,NaN,0,0,1,0,0,1,0,1
877,878,0,"Petroff, Mr. Nedelio",19.000000,0,0,349212,7.8958,NaN,0,0,1,0,0,1,0,1
878,879,0,"Laleff, Mr. Kristo",27.947206,0,0,349217,7.8958,NaN,0,0,1,0,0,1,0,1
879,880,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",56.000000,0,1,11767,83.1583,C50,1,0,0,1,0,0,1,0
880,881,1,"Shelley, Mrs. William (Imanita Parrish Hall)",25.000000,0,1,230433,26.0000,NaN,0,1,0,0,0,1,1,0
881,882,0,"Markun, Mr. Johann",33.000000,0,0,349257,7.8958,NaN,0,0,1,0,0,1,0,1
882,883,0,"Dahlberg, Miss. Gerda Ulrika",22.000000,0,0,7552,10.5167,NaN,0,0,1,0,0,1,1,0
883,884,0,"Banfield, Mr. Frederick James",28.000000,0,0,C.A./SOTON 34068,10.5000,NaN,0,1,0,0,0,1,0,1
884,885,0,"Sutehall, Mr. Henry Jr",25.000000,0,0,SOTON/OQ 392076,7.0500,NaN,0,0,1,0,0,1,0,1
885,886,0,"Rice, Mrs. William (Margaret Norton)",39.000000,0,5,382652,29.1250,NaN,0,0,1,0,1,0,1,0
886,887,0,"Montvila, Rev. Juozas",27.000000,0,0,211536,13.0000,NaN,0,1,0,0,0,1,0,1
887,888,1,"Graham, Miss. Margaret Edith",19.000000,0,0,112053,30.0000,B42,1,0,0,0,0,1,1,0
888,889,0,"Johnston, Miss. Catherine Helen ""Carrie""",16.193950,1,2,W./C. 6607,23.4500,NaN,0,0,1,0,0,1,1,0
889,890,1,"Behr, Mr. Karl Howell",26.000000,0,0,111369,30.0000,C148,1,0,0,1,0,0,0,1
890,891,0,"Dooley, Mr. Patrick",32.000000,0,0,370376,7.7500,NaN,0,0,1,0,1,0,0,1

In [10]:
scaler = preprocessing.StandardScaler()

In [11]:
age_scale_param = scaler.fit(data['Age'].values.reshape(-1,1))

In [12]:
data['Age_scaled'] = scaler.fit_transform(data['Age'].values.reshape(-1, 1), age_scale_param)

In [13]:
fare_scale_param = scaler.fit(data['Fare'].values.reshape(-1, 1))
data['Fare_scaled'] = scaler.fit_transform(data['Fare'].values.reshape(-1, 1), fare_scale_param)

In [14]:
data['Fare_scaled']

0     -0.502445
1      0.786845
2     -0.488854
3      0.420730
4     -0.486337
5     -0.478116
6      0.395814
7     -0.224083
8     -0.424256
9     -0.042956
10    -0.312172
11    -0.113846
12    -0.486337
13    -0.018709
14    -0.490280
15    -0.326267
16    -0.061999
17    -0.386671
18    -0.285997
19    -0.502949
20    -0.124920
21    -0.386671
22    -0.486756
23     0.066360
24    -0.224083
25    -0.016444
26    -0.502949
27     4.647001
28    -0.489776
29    -0.489442
         ...
861   -0.416873
862   -0.126345
863    0.751946
864   -0.386671
865   -0.386671
866   -0.369389
867    0.368295
868   -0.457142
869   -0.424256
870   -0.489442
871    0.409741
872   -0.547748
873   -0.467209
874   -0.165189
875   -0.502949
876   -0.450180
877   -0.489442
878   -0.489442
879    1.025945
880   -0.124920
881   -0.489442
882   -0.436671
883   -0.437007
884   -0.506472
885   -0.061999
886   -0.386671
887   -0.044381
888   -0.176263
889   -0.044381
890   -0.492378
Name: Fare_scaled, Length: 891, dtype: float64

In [24]:
data['SibSp'] = data['SibSp'].astype(float)

In [26]:
SibSp_scale_param = scaler.fit(data['SibSp'].values.reshape(-1, 1))
data['SibSp_scaled'] = scaler.fit_transform(data['SibSp'].values.reshape(-1, 1), SibSp_scale_param)

In [27]:
data['Parch'] = data['Parch'].astype(float)

In [30]:
Parch_scale_param = scaler.fit(data['Parch'].values.reshape(-1, 1))
data['Parch_scaled'] = scaler.fit_transform(data['Parch'].values.reshape(-1, 1), Parch_scale_param)

In [31]:
data.drop(['Parch', 'SibSp', 'Fare', 'Age'], axis=1, inplace=True)

In [32]:
data

,PassengerId,Survived,Name,Ticket,Cabin,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male,Age_scaled,Fare_scaled,SibSp_scaled,Parch_scaled
0,1,0,"Braund, Mr. Owen Harris",A/5 21171,NaN,0,0,1,0,0,1,0,1,-0.561380,-0.502445,0.432793,-0.473674
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",PC 17599,C85,1,0,0,1,0,0,1,0,0.613171,0.786845,0.432793,-0.473674
2,3,1,"Heikkinen, Miss. Laina",STON/O2. 3101282,NaN,0,0,1,0,0,1,1,0,-0.267742,-0.488854,-0.474545,-0.473674
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",113803,C123,1,0,0,0,0,1,1,0,0.392942,0.420730,0.432793,-0.473674
4,5,0,"Allen, Mr. William Henry",373450,NaN,0,0,1,0,0,1,0,1,0.392942,-0.486337,-0.474545,-0.473674
5,6,0,"Moran, Mr. James",330877,NaN,0,0,1,0,1,0,0,1,-0.426384,-0.478116,-0.474545,-0.473674
6,7,0,"McCarthy, Mr. Timothy J",17463,E46,1,0,0,0,0,1,0,1,1.787722,0.395814,-0.474545,-0.473674
7,8,0,"Palsson, Master. Gosta Leonard",349909,NaN,0,0,1,0,0,1,0,1,-2.029569,-0.224083,2.247470,0.767630
8,9,1,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",347742,NaN,0,0,1,0,0,1,1,0,-0.194333,-0.424256,-0.474545,2.008933
9,10,1,"Nasser, Mrs. Nicholas (Adele Achem)",237736,NaN,0,1,0,1,0,0,1,0,-1.148655,-0.042956,0.432793,-0.473674
10,11,1,"Sandstrom, Miss. Marguerite Rut",PP 9549,G6,0,0,1,0,0,1,1,0,-1.882750,-0.312172,0.432793,0.767630
11,12,1,"Bonnell, Miss. Elizabeth",113783,C103,1,0,0,0,0,1,1,0,2.081359,-0.113846,-0.474545,-0.473674
12,13,0,"Saundercock, Mr. William Henry",A/5. 2151,NaN,0,0,1,0,0,1,0,1,-0.708199,-0.486337,-0.474545,-0.473674
13,14,0,"Andersson, Mr. Anders Johan",347082,NaN,0,0,1,0,0,1,0,1,0.686580,-0.018709,0.432793,5.732844
14,15,0,"Vestrom, Miss. Hulda Amanda Adolfina",350406,NaN,0,0,1,0,0,1,1,0,-1.148655,-0.490280,-0.474545,-0.473674
15,16,1,"Hewlett, Mrs. (Mary D Kingcome)",248706,NaN,0,1,0,0,0,1,1,0,1.861131,-0.326267,-0.474545,-0.473674
16,17,0,"Rice, Master. Eugene",382652,NaN,0,0,1,0,1,0,0,1,-2.029569,-0.061999,3.154809,0.767630
17,18,1,"Williams, Mr. Charles Eugene",244373,NaN,0,1,0,0,0,1,0,1,0.177595,-0.386671,-0.474545,-0.473674
18,19,0,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",345763,NaN,0,0,1,0,0,1,1,0,0.099305,-0.285997,0.432793,-0.473674
19,20,1,"Masselmani, Mrs. Fatima",2649,NaN,0,0,1,1,0,0,1,0,-0.009473,-0.502949,-0.474545,-0.473674
20,21,0,"Fynney, Mr. Joseph J",239865,NaN,0,1,0,0,0,1,0,1,0.392942,-0.124920,-0.474545,-0.473674
21,22,1,"Beesley, Mr. Lawrence",248698,D56,0,1,0,0,0,1,0,1,0.319533,-0.386671,-0.474545,-0.473674
22,23,1,"McGowan, Miss. Anna ""Annie""",330923,NaN,0,0,1,0,1,0,1,0,-1.075246,-0.486756,-0.474545,-0.473674
23,24,1,"Sloper, Mr. William Thompson",113788,A6,1,0,0,0,0,1,0,1,-0.120924,0.066360,-0.474545,-0.473674
24,25,0,"Palsson, Miss. Torborg Danira",349909,NaN,0,0,1,0,0,1,1,0,-1.589112,-0.224083,2.247470,0.767630
25,26,1,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",347077,NaN,0,0,1,0,0,1,1,0,0.613171,-0.016444,0.432793,5.732844
26,27,0,"Emir, Mr. Farred Chehab",2631,NaN,0,0,1,1,0,0,0,1,-0.009473,-0.502949,-0.474545,-0.473674
27,28,0,"Fortune, Mr. Charles Alexander",19950,C23 C25 C27,1,0,0,0,0,1,0,1,-0.781608,4.647001,2.247470,2.008933
28,29,1,"O'Dwyer, Miss. Ellen ""Nellie""",330959,NaN,0,0,1,0,1,0,1,0,-0.533476,-0.489776,-0.474545,-0.473674
29,30,0,"Todoroff, Mr. Lalio",349216,NaN,0,0,1,0,0,1,0,1,-0.124799,-0.489442,-0.474545,-0.473674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,"Giles, Mr. Frederick Edward",28134,NaN,0,1,0,0,0,1,0,1,-0.634790,-0.416873,0.432793,-0.473674
862,863,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",17466,D17,1,0,0,0,0,1,1,0,1.347265,-0.126345,-0.474545,-0.473674
863,864,0,"Sage, Miss. Dorothy Edith ""Dolly""",CA. 2343,NaN,0,0,1,0,0,1,1,0,-1.378437,0.751946,6.784163,2.008933
864,865,0,"Gill, Mr. John William",233866,NaN,0,1,0,0,0,1,0,1,-0.414561,-0.386671,-0.474545,-0.473674
865,866,1,"Bystrom, Mrs. (Karolina)",236852,NaN,0,1,0,0,0,1,1,0,0.906808,-0.386671,-0.474545,-0.473674
866,867,1,"Duran y More, Miss. Asuncion",SC/PARIS 2149,NaN,0,1,0,1,0,0,1,0,-0.194333,-0.369389,0.432793,-0.473674
867,868,0,"Roebling, Mr. Washington Augustus II",PC 17590,A24,1,0,0,0,0,1,0,1,0.099305,0.368295,-0.474545,-0.473674
868,869,0,"van Melkebeke, Mr. Philemon",345777,NaN,0,0,1,0,0,1,0,1,-0.269366,-0.457142,-0.474545,-0.473674
869,870,1,"Johnson, Master. Harold Theodor",347742,NaN,0,0,1,0,0,1,0,1,-1.882750,-0.424256,0.432793,0.767630
870,871,0,"Balkic, Mr. Cerin",349248,NaN,0,0,1,0,0,1,0,1,-0.267742,-0.489442,-0.474545,-0.473674
871,872,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",11751,D35,1,0,0,0,0,1,1,0,1.273856,0.409741,0.432793,0.767630
872,873,0,"Carlsson, Mr. Frans Olof",695,B51 B53 B55,1,0,0,0,0,1,0,1,0.246124,-0.547748,-0.474545,-0.473674
873,874,0,"Vander Cruyssen, Mr. Victor",345765,NaN,0,0,1,0,0,1,0,1,1.273856,-0.467209,-0.474545,-0.473674
874,875,1,"Abelson, Mrs. Samuel (Hannah Wizosky)",P/PP 3381,NaN,0,1,0,1,0,0,1,0,-0.120924,-0.165189,0.432793,-0.473674
875,876,1,"Najib, Miss. Adele Kiamie ""Jane""",2667,NaN,0,0,1,1,0,0,1,0,-1.075246,-0.502949,-0.474545,-0.473674
876,877,0,"Gustafsson, Mr. Alfred Ossian",7534,NaN,0,0,1,0,0,1,0,1,-0.708199,-0.450180,-0.474545,-0.473674
877,878,0,"Petroff, Mr. Nedelio",349212,NaN,0,0,1,0,0,1,0,1,-0.781608,-0.489442,-0.474545,-0.473674
878,879,0,"Laleff, Mr. Kristo",349217,NaN,0,0,1,0,0,1,0,1,-0.124799,-0.489442,-0.474545,-0.473674
879,880,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",11767,C50,1,0,0,1,0,0,1,0,1.934540,1.025945,-0.474545,0.767630
880,881,1,"Shelley, Mrs. William (Imanita Parrish Hall)",230433,NaN,0,1,0,0,0,1,1,0,-0.341152,-0.124920,-0.474545,0.767630
881,882,0,"Markun, Mr. Johann",349257,NaN,0,0,1,0,0,1,0,1,0.246124,-0.489442,-0.474545,-0.473674
882,883,0,"Dahlberg, Miss. Gerda Ulrika",7552,NaN,0,0,1,0,0,1,1,0,-0.561380,-0.436671,-0.474545,-0.473674
883,884,0,"Banfield, Mr. Frederick James",C.A./SOTON 34068,NaN,0,1,0,0,0,1,0,1,-0.120924,-0.437007,-0.474545,-0.473674
884,885,0,"Sutehall, Mr. Henry Jr",SOTON/OQ 392076,NaN,0,0,1,0,0,1,0,1,-0.341152,-0.506472,-0.474545,-0.473674
885,886,0,"Rice, Mrs. William (Margaret Norton)",382652,NaN,0,0,1,0,1,0,1,0,0.686580,-0.061999,-0.474545,5.732844
886,887,0,"Montvila, Rev. Juozas",211536,NaN,0,1,0,0,0,1,0,1,-0.194333,-0.386671,-0.474545,-0.473674
887,888,1,"Graham, Miss. Margaret Edith",112053,B42,1,0,0,0,0,1,1,0,-0.781608,-0.044381,-0.474545,-0.473674
888,889,0,"Johnston, Miss. Catherine Helen ""Carrie""",W./C. 6607,NaN,0,0,1,0,0,1,1,0,-0.987599,-0.176263,0.432793,2.008933
889,890,1,"Behr, Mr. Karl Howell",111369,C148,1,0,0,1,0,0,0,1,-0.267742,-0.044381,-0.474545,-0.473674
890,891,0,"Dooley, Mr. Patrick",370376,NaN,0,0,1,0,1,0,0,1,0.172714,-0.492378,-0.474545,-0.473674

In [ ]:
def DataPreProcess(in_data): #数据预处理
    in_data.drop(['PassengerId' ,'Name','Ticket','Cabin'], axis=1, inplace=True)
    data_ages_fitted = set_missing_ages(in_data) #填补缺失的年龄属性
    data = attribute_to_number(data_ages_fitted) #类目属性转化为数值型特征
    data_scaled = Scales(data) #数值归一化

    #划分特征X,和label Y
    data_copy = data_scaled.copy(deep=True) 
    data_copy.drop(
        ['Pclass_1', 'Pclass_2', 'Pclass_3', 'Embarked_C', 'Embarked_Q', 'Embarked_S', 'Sex_female', 'Sex_male',
         'Age_scaled', 'Fare_scaled', 'SibSp_scaled', 'Parch_scaled'], axis=1, inplace=True)
    data_y = np.array(data_copy)
    data_scaled.drop(['Survived'], axis=1, inplace=True)
    data_X = np.array(data_scaled)

    return data_X,data_y